<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <!-- META y head -->
  <head th:replace="~{fragments/head :: head}"></head>
  <body>
    <!-- navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <!-- main content -->
    <main layout:fragment="content"></main>
    <!-- Dark mode toggler -->
    <div th:replace="~{fragments/dark-mode-toggler :: toggler}"></div>
    <!-- footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
