<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
  <head>
    <title>Iniciar Sesión</title>
  </head>
  <main layout:fragment="content">
    <h1>Actualizar Excel</h1>
    <form id="syncForm" enctype="multipart/form-data">
      <label for="token">Token de autenticación:</label>
      <input type="password" id="token" name="token" required>
      <br>
      <label for="archivo">Archivo Excel:</label>
      <input type="file" id="archivo" name="file" accept=".xls,.xlsx" required>
      <br>
      <label for="token">Link de descarga:</label>
      <input type="text" id="link" name="link" required>
      <br>
      <br>
      <button type="submit" id="submitBtn">Actualizar</button>
    </form>
    <div id="respuesta"></div>
    <script>
      const form = document.getElementById("syncForm");
      const button = document.getElementById("submitBtn");
      const respuestaDiv = document.getElementById("respuesta");

      form.addEventListener("submit", async function(e) {
        e.preventDefault();

        button.disabled = true;
        respuestaDiv.textContent = "Subiendo y actualizando...";

        // extraer token
        const token = document.getElementById("token").value;

        // subir archivo
        const fileInput = document.getElementById("archivo");
        const formData = new FormData();
        formData.append("file", fileInput.files[0]);

        // extraer link de descarga
        const link = document.getElementById("link").value;
        formData.append("link", link);

        try {
          const response = await fetch("/sync", {
            method: "POST",
            headers: {
              "Authorization": "Bearer " + token
            },
            body: formData
          });

          const message = response.ok
            ? "Actualización completada."
            : `Error ${response.status}: ${await response.text()}`;
          respuestaDiv.textContent = message;

        } catch (error) {
          respuestaDiv.textContent = `Error de red o del servidor: ${error.message}`;
        } finally {
          button.disabled = false;
        }
      });
    </script>
  </main>
</html>
