<div th:fragment="schedule(schedule)">
  <div th:if="${schedule}">
    <!-- Tabla de horarios -->
    <div class="table-container" th:if="${not schedule.subjects?.empty}">
      <table>
        <thead>
          <tr>
            <th>Materia</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
          </tr>
        </thead>
        <tbody>
          <div th:each="materia : ${schedule.subjects}">
            <tr th:replace="~{pages/dashboard/day-fragment :: day(${materia})}">
            </tr>
          </div>
        </tbody>
      </table>
    </div>
    <div th:if="${schedule.subjects?.empty}" class="center text-muted">
      No hay materias en este horario
    </div>
    <!-- Lista de exámenes -->
    <h1>Próximos exámenes</h1>
    <div class="exam-list">
      <!-- Primer Parcial -->
      <div th:if="${not schedule.subjects.?[parcial1Fecha != null].empty}">
        <h2>Primer Parcial</h5>
        <div th:each="materia : ${schedule.subjects.?[parcial1Fecha != null]}">
          <div th:replace="~{pages/dashboard/exam-fragment :: exam-fragment(
                ${materia.nombreAsignatura},
                ${materia.parcial1Fecha},
                ${materia.parcial1Hora},
                ${materia.parcial1Aula}
            )}"></div>
        </div>
      </div>
      <!-- Segundo Parcial -->
      <div th:if="${not schedule.subjects.?[parcial2Fecha != null].empty}">
        <h2>Segundo Parcial</h2>
        <div th:each="materia : ${schedule.subjects.?[parcial2Fecha != null]}">
          <div th:replace="~{pages/dashboard/exam-fragment :: exam-fragment(
                ${materia.nombreAsignatura},
                ${materia.parcial2Fecha},
                ${materia.parcial2Hora},
                ${materia.parcial2Aula}
            )}"></div>
        </div>
      </div>
      <!-- Primer final -->
      <div th:if="${not schedule.subjects.?[final1Fecha != null].empty}">
        <h2>Primer Final</h5>
        <div th:each="materia : ${schedule.subjects.?[final1Fecha != null]}">
          <div th:replace="~{pages/dashboard/exam-fragment :: exam-fragment(
                ${materia.nombreAsignatura},
                ${materia.final1Fecha},
                ${materia.final1Hora},
                ${materia.final1Aula}
            )}"></div>
        </div>
      </div>
      <!-- Segundo final -->
      <div th:if="${not schedule.subjects.?[final2Fecha != null].empty}">
        <h2>Segundo Final</h5>
        <!-- En tu template principal -->
        <div th:each="materia : ${schedule.subjects.?[final2Fecha != null]}">
          <div th:replace="~{pages/dashboard/exam-fragment :: exam-fragment(
                ${materia.nombreAsignatura},
                ${materia.final2Fecha},
                ${materia.final2Hora},
                ${materia.final2Aula}
            )}"></div>
        </div>
      </div>
    </div>
    <!-- Información adicional de las subjects -->
    <section th:if="${not schedule.subjects?.empty}">
      <h1 class="section">Información adicional</h1>
      <div class="grid-2">
        <div th:each="materia : ${schedule.subjects}">
          <article>
            <h3 th:text="${materia.nombreAsignatura}"></h3>
            <p>
              <span th:if="${materia.nombreProfesor}">
                <span style="font-weight: var(--font-weight-semibold);">Profesor:</span>
                <span th:text="${materia.tituloProfesor} + ' ' + ${materia.apellidoProfesor} + ', ' + ${materia.nombreProfesor}"></span>
              </span><br th:if="${materia.nombreProfesor}">
              <span th:if="${materia.emailProfesor}">
                <span style="font-weight: var(--font-weight-semibold);">Email:</span>
                <span th:text="${materia.emailProfesor}"></span>
              </span><br th:if="${materia.emailProfesor}">
              <span th:if="${materia.seccion}">
                <span style="font-weight: var(--font-weight-semibold);">Sección:</span>
                <span th:text="${materia.seccion}"></span>
              </span>
            </p>
          </article>
        </div>
      </div>
    </section>
    <section th:if="${hasNewExcel}">
      <form th:action="@{/schedule/{id}/migrate(id=${schedule.id})}" method="post">
        <button type="submit" aria-label="Intentar migrar a un excel mas nuevo.">Sincronizar materias</button>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form>
    </section>
  </div>
  <style>
    .exam-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .grid-2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 0rem 1.2rem;
    }

    .date-badge {
      font-size: 0.85rem;
      padding: 0.2em 0.6em;
      border-radius: 8%;
      margin-right: 0.25em;
    }
    .badge-container {
      display: inline-block;
      float: right;
      white-space: nowrap;
    }
  </style>
</div>
