name: Actualizar Excel cada 2 días a las 18hs UTC

on:
  schedule:
    - cron: '0 18 */2 * *'  # Cada 2 días a las 18:00 UTC

jobs:
  actualizar-excel:
    runs-on: ubuntu-latest
    steps:
      - name: Llamar al endpoint protegido
        run: |
          curl -X POST "https://poliplanner.fly.dev/sync/ci" \
            -H "Authorization: Bearer ${{ secrets.ADMIN_PASSWORD }}"
