<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
  <head>
    <title>Registro de Usuario</title>
  </head>
  <main layout:fragment="content">
    <article>
      <section>
        <h2>Registro de Usuario</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
          <label>
            Nombre de usuario:
            <input type="text" th:field="*{username}" required>
          </label>
          <label>
            Contraseña:
            <input type="password" th:field="*{password}" required>
          </label>
          <label>
            Confirmar contraseña:
            <input type="password" name="confirmPassword" required>
          </label>
        </section>
        <button type="submit">Registrarse</button>
        <div th:replace="~{fragments/error :: alert(${error})}"></div>
      </form>
      <p>
        ¿Ya tenés cuenta? <a th:href="@{/login}">Iniciá sesión acá</a>
      </p>
    </article>
    <section>
      <h2>Consideraciones</h2>
      <ul>
        <li>
          Los nombres de usuario no distinguen entre mayúsculas y minúsculas (son "case
          insensitive"). Además, solo se permiten letras, números, guion (-) y guion bajo (_).
        </li>
        <li>
          Las contraseñas deben tener al menos 6 caracteres.
        </li>
        <li>
          Te recomendamos elegir un nombre de usuario fácil de recordar y usar contraseñas
          seguras y únicas, preferiblemente distintas a las que utilices en otros sitios.
          Aunque almacenamos las contraseñas de forma encriptada y aplicamos todas las medidas
          de seguridad necesarias, usar una contraseña exclusiva ayuda a proteger mejor tu
          cuenta y tu información personal.
        </li>
      </ul>
    </section>
  </main>
</html>
