<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/flat_base}">
  <head>
    <title>Registro de Usuario</title>
  </head>
  <main layout:fragment="content">
    <article>
      <section>
        <h2>Registro de Usuario</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
          <label>
            Nombre de usuario:
            <input type="text" th:field="*{username}" required>
          </label>
          <label>
            Contraseña:
            <input type="password" th:field="*{password}" required>
          </label>
          <label>
            Confirmar contraseña:
            <input type="password" name="confirmPassword" required>
          </label>
        </section>
        <button type="submit">Registrarse</button>
        <div th:replace="~{fragments/error :: alert(${error})}"></div>
      </form>
      <p>
        ¿Ya tenés cuenta? <a th:href="@{/login}">Iniciá sesión acá</a>
      </p>
    </article>
  </main>
</html>
