<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
  <head>
    <title>Registro de Usuario</title>
  </head>
  <main layout:fragment="content">
    <article>
      <section>
        <h2>Registro de Usuario</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
          <section>
            <label>
              Nombre de usuario:
              <input type="text" th:field="*{username}" required>
            </label>
            <label>
              Contraseña:
              <input type="password" th:field="*{password}" required>
            </label>
            <label>
              Confirmar contraseña:
              <input type="password" th:field="*{confirmedPassword}" required>
            </label>
          </section>
          <button type="submit">Registrarse</button>
          <div th:replace="~{fragments/alerts/error :: alert(${error})}"></div>
        </form>
      </section>
      <p>
        ¿Ya tenés cuenta? <a th:href="@{/login}">Iniciá sesión acá</a>
      </p>
    </article>
    <section>
      <h2>Consideraciones</h2>
      <ul>
        <li>
            Los nombres de usuario <strong>solo se permiten letras, números, guion (-) y guion bajo (_)</strong>.
        </li>
        <li>
          Las contraseñas deben tener al menos 6 caracteres.
        </li>
        <li>
          Te recomendamos elegir un nombre de usuario fácil de recordar y usar contraseñas
          seguras y únicas.
          Almacenamos las contraseñas de forma encriptada y aplicamos todas las medidas
          de seguridad necesarias, pero usar una contraseña exclusiva ayuda a proteger mejor tu
          cuenta y tu información personal.
        </li>
      </ul>
    </section>
  </main>
</html>
